<section id="section_landing">
    <div class="content-shell">

    <div class="centered_content">
      <h1 class="home_title">City Rescue</h1>



      <div class="footer_nav_links">

        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>

          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>

        </ul>



      </div>
      <div class="main_content">
        <h2>Search</h2>
        <input type="text" name="search" placeholder="Find help...">

      </div>
    </div>

</div>
</div>
