<div class="centered_content">
  <h1>City Rescue</h1>


<div class="nav_bar">

  <p>
    <a href="/profile">Profile</a>
    <a href="/home">Home</a>
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>

  </p>

</div>


<div class="profile_content">
  <p>
    <%= image_tag "team/me2.jpg" %>
    <h2>James De Francesco</h2>
    <h3>Developer</h3>
  </p>

  <p>Bio goes here</p>

  <p>Rating goes here</p>
</div>

</div>
