/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .centered_content {
   justify-content: center;
   text-align: center;
   padding-top: 0px;
   //background-color: gray;
 }

 .profile_content {
   p {

   }
   img {
     height: 25%;
     width: 25%;
   }
 }

 .landing_page {
   background-image: image_url('images/background.jpeg');
   background-size: cover;
   background-position: center center;
 }

 .nav_bar {
   justify-content: center;
   text-align: center;
   text-decoration: none;
   padding-top: 0px;

     p {

         display: inline;
         text-align: center;
         text-decoration: none;
         padding: 0px;
         list-style-type: none;
         font-size: 18px;

      &:hover {
        color: blue;
        cursor: pointer;

      }

   }
 }

 .main_content {
   display: inline;
   font-size: 14px;
   position: absolute;
   top: 50%;
   left: 50%;
   color: gray;


   -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 }

 .log_in_style {

 }
