/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 section#section_landing{
   position:absolute;
   width: 100%;
   height: 100%;
   left: 0px; right: 0px;
     background-color: #205FE3;
     color: #F1F1F1;
     background-image: image_url('building_blue.jpg');
     background-size: cover;
     background-position: center center;
     top: 0px;
     text-align: center;
     text-shadow: 0 0 1rem rgba(0,0,0,0.4);
     .centered_content{width: 85%;}
     h1{
     text-transform: uppercase;
     font-weight: 900;
     font-size: 3rem;

     }





 }
 .content-shell {
     width: 100%;
     height: 100%;
     position: relative;
 }



.centered_content {
  //justify-content: center;
  text-align: center;
  //height: 100%;
  //width: 100%;
  //background-color: gray;
}

.home_title {
  color: #F08080;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

.profile_content {
  font-family: Arial, Helvetica, sans-serif;
  color: #F08080;

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #F08080;
  }

  img {
    height: 15%;
    width: 15%;
  }
}

.footer_nav_links{

  height: 6rem;
  vertical-align: middle;
  display: block;
  padding: 2rem 0;
    //vertical-align: middle;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding-left: 0;

    li {
      color: white;
        display: inline-block;
        a{

            font-size: 22px;
            padding: 16px;
            color: white;
            transition: color 0.3s;
            color: white;
            text-decoration: none;
            &:hover{
                color: #F08080;
            }
        }
    }

}


.main_content {
  //height: 100%;
  //width: 100%;

  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 30%;
  }
  //width: 100%;
  //height: 100%;
  display: inline;
  font-size: 14px;
  top: 50%;
  left: 50%;
  color: #F08080;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//devise log in styling
.log_in_style {
  color: #F08080;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  width: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .h2 {
    color: #3a2bc9;
    font-size: 25px;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }

  .field {
    //color: red;
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }

  .actions {
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }

  .devise_links {
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }
}
