/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background {
 background: #C0C0C0;
 background-size: cover;
 height: 100%;
 width: 100%;

}

 .centered_content {
   justify-content: center;
   text-align: center;

   height: 100%;
   width: 100%;

   //background-color: gray;
 }

 .home_title {
   color: #F08080;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 20px;

 }


 .profile_content {
   font-family: Arial, Helvetica, sans-serif;
   color: #F08080;

   p {
     font-family: Arial, Helvetica, sans-serif;
     color: #F08080;


   }
   img {
     height: 20%;
     width: 20%;
   }
 }





 .nav_bar {
   justify-content: center;
   text-align: center;
   text-decoration: none;
   padding-top: 0px;
   font-family: Arial, Helvetica, sans-serif;


     p {

         display: inline;
         font-family: Arial, Helvetica, sans-serif;

         text-align: center;
         text-decoration: none;
         padding: 5px;
         list-style-type: none;
         font-size: 18px;

      &:hover {
        color: blue;
        cursor: pointer;

      }

   }
 }

 .main_content {
  height: 100%;
  width: 100%;


   input[type=text] {


      width: 100px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {

      width: 50%;
  }

   width: 100%;
   height: 100%;
   display: inline;
   font-size: 14px;

   top: 50%;
   left: 50%;
  color: #F08080;
   font-family: Arial, Helvetica, sans-serif;



   -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 }

 .log_in_style {
  color: #F08080;

   font-family: Arial, Helvetica, sans-serif;
     //background: #2DD67D;
     position: absolute;
     margin: 0;
     padding: 0;
     left: 50%;
     top: 50%;
     width: 25%;
     -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

     .h2 {
         color: #3a2bc9;
         font-size: 25px;
         font-size: 2.5rem;
         text-align: center;
         justify-content: center;
         padding: 1rem;
     }

     .field {
         //color: red;
         font-size: 15px;
         font-size: 1.5rem;
         text-align: center;
         justify-content: center;
         padding: 1rem;
     }

     .actions {
         text-align: center;
         justify-content: center;
         padding: 1rem;
     }

     .devise_links {
         text-align: center;
         justify-content: center;
         padding: 1rem;
     }
 }
